main {
  display: grid;
  grid-template-rows: auto;
}

.inputText {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2%;
  padding: 30px;
  height: 45px;
}

.inputText > input {
  border: 1px solid #d5d4d8;
  border-radius: 5px;
}

.inputButton {
  padding: 15px;
  height: auto;
  margin: 30px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-style: none;
}

main > img {
  margin: auto;
  padding: 20px;
  width: 60%;

}
